<table class="pure-table pure-table-bordered" width="100%">
  <thead>
    <tr>
      <th>Date</th>
      <th>Customer</th>
      <th>Description</th>
      <th>Total</th>
      <th>Action</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    {% for o in object_list %}
      <tr valign="top">
        <td>
          <small>
            {{ o.checkout_date|date:'d/m/Y' }}
            <br />
            {{ o.checkout_date|date:'H:i' }}
          </small>
        </td>
        <td>
          {% if o.content_object_url %}
            <a href="{{ o.content_object_url }}">
              {{ o.content_object.checkout_name }}
            </a>
          {% else %}
            {{ o.name }}
          {% endif %}
          <br />
          <small>
            <a href="mailto:{{ o.content_object.checkout_email }}">
              {{ o.content_object.checkout_email }}
            </a>
          </small>
        </td>
        <td>
          <small>
            {{ o.description }}
          </small>
        </td>
        <td align="right">
          {% if o.total %}
            {% if o.is_payment_plan %}
              <small>
                ({{ o.total }})
              </small>
            {% else %}
              <strong>
                {{ o.total }}
              </strong>
            {% endif %}
          {% endif %}
        </td>
        <td>
          {{ o.action.name }}
          <br />
          <small>{{ o.invoice_data|join:", " }}</small>
        </td>
        <td>
          {% if o.failed %}
            <i class="fa fa-warning"></i>
          {% endif %}
          {{ o.state.name }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
