<li class="pure-menu-item">
  <a href="{% url 'checkout.list' %}" class="pure-menu-link">
    <i class="fa fa-shopping-cart"></i>
    Checkout
  </a>
</li>
<li class="pure-menu-item">
  <a href="{% url 'checkout.list.audit' %}" class="pure-menu-link">
    <i class="fa fa-shopping-cart"></i>
    Audit
  </a>
</li>
<li class="pure-menu-item">
  <a href="{% url 'checkout.object.payment.plan.list' %}" class="pure-menu-link">
    <i class="fa fa-credit-card"></i>
    Payment Plans
  </a>
</li>
<li class="pure-menu-item">
  <a href="{% url 'checkout.object.payment.plan.card.expiry.list' %}" class="pure-menu-link">
    <i class="fa fa-credit-card"></i>
    Card Expiry
  </a>
</li>
<li class="pure-menu-item">
  <a href="{% url 'checkout.payment.plan.list' %}" class="pure-menu-link">
    <i class="fa fa-credit-card"></i>
    Setup Payment Plans
  </a>
</li>
