{% load staticfiles %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<script>


    function displayInvoiceSection() {
        var action_data = {{ action_data|safe }};
        // only hide invoice fields if 'invoice' is an available option
        if (action_data['invoice']) {
            var visible = false;
            // which radio button is selected?
            var action = $('#id_checkout_form input[type=radio]:checked').val();
            var display = (action === 'invoice');
            // is the invoice section already visible?
            var visible = $('#id_invoice_name').is(":visible");
            if (display && visible) {
                // pass
            } else if (!display && !visible) {
                // pass
            } else {
                $('#id_invoice_name').parent().toggle(display);
                $('#id_invoice_email').parent().toggle(display);
            }
        }
    }

    $(function(){
        // show or hide the invoice section
        $('#id_checkout_form input[type=radio]').change(function () {
            displayInvoiceSection();
        });
        // initialise
        displayInvoiceSection();
    });

    var handler = StripeCheckout.configure({
        name: '{{ name }}',
        email: '{{ email }}',
        description: '{% for item in description %}{% if forloop.counter0 %}, {% endif %}{{ item }}{% endfor %}',
        image: '{% static 'project/stripe/128x128.png' %}',
        key: '{{ key }}',
        token: function(token) {
            // Use the token to create the charge with a server-side script.
            // You can access the token ID with `token.id`
            $('#id_token').val(token.id);
            $('#id_checkout_form').submit();
        }
    });

    $('#id_checkout_form :submit').on('click', function(e) {
        // Which action has the user chosen?
        var action = $('#id_checkout_form input[type=radio]:checked').val();
        // If only one option available then it will appear in a hidden field.
        if (!action) {
            action = $('#id_checkout_form #id_action').val();
        }
        if (action != 'invoice') {
            var action_data = {{ action_data|safe }};
            var data = action_data[action];
            var caption = data['name'];
            var is_payment = data['payment'];
            options = {
                panelLabel: caption
            };
            if (is_payment) {
                options.amount = {{ total }};
                options.currency = "{{ currency }}";
            }
            if (action) {
                // Open Checkout with further options
                handler.open(options);
            }
            e.preventDefault();
        }
    });

    // Close Checkout on page navigation
    $(window).on('popstate', function() {
        handler.close();
    });
</script>
