<small>
  Total: &pound;{{ o.total }}
  <br />
  {% for item in o.payments %}
    {{ item.count }}.
    {{ item.due|date:'d/m/Y' }}
    &pound;{{ item.amount }}
    {% if forloop.first %}
      deposit
    {% elif forloop.last %}
      final
    {% endif %}
    ({{ item.state.name }})
    {% if allow_manual_payment and not item.state.is_success %}
      <a href="{% url 'checkout.object.payment.plan.instalment.paid' item.pk %}">
        <i class="fa fa-shopping-cart"></i>
        Paid
      </a>
    {% endif %}
    <br />
  {% endfor %}
</small>
