{% extends 'checkout/base.html' %}
{% load static %}

{% block title %}
  Payment Plans - Card Expiry
{% endblock title %}

{% block sub_heading %}
  Payment Plans - Card Expiry
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
          {% include 'checkout/_checkout_menu.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr valign="top">
            <td>
              Name
            </td>
            <td>
              Created
            </td>
            <td>
              Payments
            </td>
            <td>
              Card Expiry
            </td>
          </tr>
        </tbody>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                {{ o.object_payment_plan.content_object.checkout_name }}
                <br />
                <a href="mailto:{{ o.object_payment_plan.content_object.checkout_email }}?subject=Payment Plan" target="_blank">
                  {{ o.object_payment_plan.content_object.checkout_email }}
                </a>
                <br />
                <small>
                  {{ o.object_payment_plan.payment_plan.name }}
                </small>
              </td>
              <td>
                {{ o.object_payment_plan.created|date:'d/m/Y' }}
                <br />
                {{ o.object_payment_plan.created|date:'H:i' }}
              </td>
              <td>
                <small>
                  Total: &pound;{{ o.object_payment_plan.total }}
                  <br />
                  {% for item in o.object_payment_plan.payments %}
                    {{ item.count }}.
                    {{ item.due|date:'d/m/Y' }}
                    &pound;{{ item.amount }}
                    {% if forloop.first %}
                      deposit
                    {% elif forloop.last %}
                      final
                    {% endif %}
                    ({{ item.state.name }})
                    {% if item.checkout_can_charge %}
                      <a href="{% url 'checkout.object.payment.plan.instalment.charge' item.pk %}">
                        <i class="fa fa-credit-card"></i>
                        Charge now...
                      </a>
                    {% endif %}
                    <br />
                  {% endfor %}
                </small>
              </td>
              <td>
                {{ o.expiry_date|date:'d/m/Y' }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
