{% extends 'checkout/base.html' %}
{% load static %}

{% block title %}
  Payment Plans
{% endblock title %}

{% block sub_heading %}
  Payment Plans
{% endblock sub_heading %}

{% block content %}
  {% include 'checkout/_checkout_menu.html' %}
  {% if is_paginated %}
    <div class="pure-g">
      <div class="pure-u-1">
        {% include 'base/_paginate.html' %}
      </div>
    </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <table class="pure-table pure-table-bordered" width="100%">
          <thead>
            <tr valign="top">
              <td>
                Name
              </td>
              <td>
                Created
              </td>
              <td>
                Payments
              </td>
            </tr>
          </tbody>
          <tbody>
            {% for o in object_list %}
              <tr valign="top">
                <td>
                  {{ o.contact.user.get_full_name }}
                  <br />
                  <a href="mailto:{{ o.contact.user.email }}?subject=Payment Plan" target="_blank">
                    {{ o.contact.user.email }}
                  </a>
                  <br />
                  <small>
                    {{ o.payment_plan.name }}
                  </small>
                </td>
                <td>
                  {{ o.created|date:'d/m/Y' }}
                  <br />
                  {{ o.created|date:'H:i' }}
                </td>
                <td>
                  <small>
                    {% for item in o.payments %}
                      {{ item.count }}.
                      {{ item.due|date:'d/m/Y' }}
                      &pound;{{ item.amount }}
                      {% if forloop.first %}
                        deposit
                      {% elif forloop.last %}
                        final
                      {% endif %}
                      ({{ item.state.name }})
                      <br />
                    {% endfor %}
                  </small>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
