{% extends 'checkout/base.html' %}
{% load static %}

{% block title %}
  Checkout Success
{% endblock title %}

{% block sub_heading %}
  Checkout Success
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>
        Success! '{{ object.action.name }}'
      </h4>
      <p>
        {{ object.description }}
      </p>
      <p>
        £{{ object.total }}
      </p>
      {% include 'checkout/_payment_plan_example.html' with total=object.total%}
    </div>
  </div>
{% endblock content %}
