{% extends 'project/base.html' %}

{% block sub_title %}
  Stripe
{% endblock sub_title %}

{% block sub_heading %}
  Stripe
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        {% include '_form.html' with form_id='id_checkout_form' %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script_extra %}
  {% include 'checkout/_stripe.js.html' %}
  <script>
    function showHideInvoiceSection(display) {
        $('#id_company_name').parent().toggle(display);
        $('#id_address_1').parent().toggle(display);
        $('#id_address_2').parent().toggle(display);
        $('#id_address_3').parent().toggle(display);
        $('#id_town').parent().toggle(display);
        $('#id_county').parent().toggle(display);
        $('#id_postcode').parent().toggle(display);
        $('#id_country').parent().toggle(display);
        $('#id_contact_name').parent().toggle(display);
        $('#id_email').parent().toggle(display);
        $('#id_phone').parent().toggle(display);
    }
  </script>
{% endblock script_extra %}
