{% extends 'project/base.html' %}

{% block sub_title %}
  Stripe
{% endblock sub_title %}

{% block sub_heading %}
  Stripe
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="l-box">
        <form class="pure-form-stacked">
          <fieldset>
            <legend>Choose your checkout type:</legend>
            <div class="pure-control-group">
              {% for radio in form.choices %}
                {{ radio }}
              {% endfor %}
            </div>
          </fieldset>
        </form>
      </div>
      <div class="l-box">
        <form action="" method="POST">
          {% include 'checkout/_form_stripe.html' %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block script_extra %}
  {% include 'checkout/_stripe.js.html' %}
{% endblock script_extra %}
